Repository Journaly/journaly, pull requests merged in 2020-12, with the labels that each got.

#394 Nexus schema migration
  .circleci/config.yml
  components/Dashboard/Settings/DetailsForm.tsx
  generated/graphql.tsx
  graphql/post/createPost.graphql
  nexus/comment.ts
  nexus/context.ts
  nexus/graphql.ts
  nexus/image.ts
  nexus/index.ts
  nexus/inputTypes.ts
  nexus/language.ts
  nexus/like.ts
  nexus/post.ts
  nexus/thanks.ts
  nexus/topic.ts
  nexus/user.ts
  package-lock.json
  package.json
  pages/api/graphql.ts
  scripts/seed.ts
  tsconfig.json
Labels: backend, dependencies

#398 Enable feed search
  components/Dashboard/MyFeed/FeedHeader.tsx
  components/Dashboard/MyFeed/LanguageSelect.tsx
  components/Dashboard/MyFeed/MyFeed.tsx
  components/Dashboard/MyFeed/SearchInput.tsx
  components/Dashboard/MyFeed/TopicSelect.tsx
  elements/MultiSelect/MultiSelect.tsx
  elements/Select/Select.tsx
  generated/graphql.tsx
  graphql/fragments.graphql
  graphql/language/languages.graphql
  graphql/post/feed.graphql
  graphql/topic/topics.graphql
  nexus/language.ts
  nexus/post.ts
  nexus/topic.ts
Labels: backend, database, frontend

#407 Fix 404 on thread click
  components/InlineFeedbackPopover/index.tsx
Labels: frontend
