Repository Journaly/journaly, pull requests merged in 2020-03, with the labels that each got.

#15 Update to Next 9.3
  frontend/package-lock.json
  frontend/package.json
Labels: upgrades

#11 Home page
  .editorconfig
  frontend/components/Layouts/LandingPageLayout.js
  frontend/components/Site/Home/Home.tsx
  frontend/components/Site/Home/HomeSection.tsx
  frontend/components/Site/Home/ReasonsSection.tsx
  frontend/components/Site/Home/Testimonial.tsx
  frontend/components/Site/Home/TestimonialsSection.tsx
  frontend/components/Site/Home/TopSection.tsx
  frontend/components/Site/Home/VideoSection.tsx
  frontend/components/Site/Home/index.tsx
  frontend/components/Site/Nav/Nav.tsx
  frontend/components/Site/SignupForm/SignupForm.tsx
  frontend/components/Site/SignupForm/index.ts
  frontend/globalStyles.css
  frontend/pages/_app.js
  frontend/pages/about.js
  frontend/pages/blog/welcome-to-journaly.tsx
  frontend/pages/index.tsx
  frontend/public/images/home/hand-writing.jpg
  frontend/public/images/home/hands-typing.jpg
  frontend/public/images/home/typewriter.jpg
  frontend/public/images/testimonials/testimonial1.jpg
  frontend/public/images/testimonials/testimonial2.jpg
  frontend/public/images/testimonials/testimonial3.jpg
  frontend/styles/globalStyles.css
  frontend/styles/reset.css
Labels: frontend

#20 Upgrade Prisma2 to release 24
  backend/package-lock.json
  backend/package.json
Labels: backend

#14 Add JSON Web Tokens & Express Middleware
  backend/custom.d.ts
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/graphql.ts
Labels: backend

#21 Upgrade `nexus-future` & move to relying on them for managing Prisma2 dependency
  backend/package-lock.json
  backend/package.json
Labels: backend, upgrades

#23 Running prettier on all code
  backend/.prettierignore
  backend/package.json
  backend/seed.ts
  frontend/.prettierignore
  frontend/components/JournalyEditor/Button.jsx
  frontend/components/JournalyEditor/JournalyEditor.jsx
  frontend/components/JournalyEditor/Toolbar.jsx
  frontend/components/JournalyEditor/index.jsx
  frontend/components/Layouts/DashboardLayout.js
  frontend/components/Layouts/LandingPageLayout.js
  frontend/components/Logo/index.tsx
  frontend/components/NavLink/NavLink.tsx
  frontend/components/NavLink/index.tsx
  frontend/components/Site/About/About.tsx
  frontend/components/Site/About/index.tsx
  frontend/components/Site/Home/Home.tsx
  frontend/components/Site/Home/HomeSection.tsx
  frontend/components/Site/Home/ReasonsSection.tsx
  frontend/components/Site/Home/Testimonial.tsx
  frontend/components/Site/Home/TestimonialsSection.tsx
  frontend/components/Site/Home/TopSection.tsx
  frontend/components/Site/Home/VideoSection.tsx
  frontend/components/Site/Home/index.tsx
  frontend/components/Site/Nav/Nav.tsx
  frontend/components/Site/Nav/index.tsx
  frontend/pages/_app.js
  frontend/pages/_document.js
  frontend/pages/about.tsx
  frontend/pages/blog.js
  frontend/pages/blog/welcome-to-journaly.tsx
  frontend/pages/dashboard/new-post.tsx
  frontend/pages/dashboard/your-feed.tsx
  frontend/pages/index.tsx
  frontend/utils/breakpoints.js
  frontend/utils/colors.js
  frontend/utils/index.js
Labels: backend, frontend

#22 Add formatting and linting
  README.md
  backend/.prettierignore
  backend/.prettierrc.json
  backend/package-lock.json
  backend/package.json
  backend/seed.ts
  backend/tslint.json
  docs/contributing-guide.md
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/components/JournalyEditor/Button.jsx
  frontend/components/JournalyEditor/JournalyEditor.jsx
  frontend/components/JournalyEditor/Toolbar.jsx
  frontend/components/JournalyEditor/index.jsx
  frontend/components/Layouts/DashboardLayout.js
  frontend/components/Layouts/LandingPageLayout.js
  frontend/components/Logo/index.tsx
  frontend/components/NavLink/NavLink.tsx
  frontend/components/NavLink/index.tsx
  frontend/components/Site/About/About.tsx
  frontend/components/Site/About/index.tsx
  frontend/components/Site/Home/Home.tsx
  frontend/components/Site/Home/HomeSection.tsx
  frontend/components/Site/Home/ReasonsSection.tsx
  frontend/components/Site/Home/Testimonial.tsx
  frontend/components/Site/Home/TestimonialsSection.tsx
  frontend/components/Site/Home/TopSection.tsx
  frontend/components/Site/Home/VideoSection.tsx
  frontend/components/Site/Home/index.tsx
  frontend/components/Site/Nav/Nav.tsx
  frontend/components/Site/Nav/index.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/_document.js
  frontend/pages/about.tsx
  frontend/pages/blog.js
  frontend/pages/blog/welcome-to-journaly.tsx
  frontend/pages/dashboard/new-post.tsx
  frontend/pages/dashboard/your-feed.tsx
  frontend/pages/index.tsx
  frontend/tslint.json
  frontend/utils/breakpoints.js
  frontend/utils/colors.js
  frontend/utils/index.js
Labels: backend, docs, frontend

#26 Create debugging guide
  README.md
  docs/debugging.md
  docs/screenshots/breakpoint-example.png
Labels: docs

#28 Wire up first Query & Mutation - Feed & createUser - from client
  .prettierrc
  backend/prisma/migrations/20200328162147-init/README.md
  backend/prisma/migrations/20200328162147-init/schema.prisma
  backend/prisma/migrations/20200328162147-init/steps.json
  backend/prisma/migrations/migrate.lock
  backend/tsconfig.json
  docs/styleguide/backend-styleguide.md
  docs/styleguide/frontend-styleguide.md
  frontend/codegen.yml
  frontend/components/Dashboard/Dashboard.tsx
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Dashboard/MyFeed/index.ts
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/components/Dashboard/Nav/index.ts
  frontend/components/Dashboard/Nav/index.tsx
  frontend/components/Dashboard/Users/Users.tsx
  frontend/components/Dashboard/Users/index.ts
  frontend/components/Dashboard/index.ts
  frontend/components/Error/Error.tsx
  frontend/components/Error/index.ts
  frontend/components/Hooks/useFormValidation.ts
  frontend/components/JournalyEditor/Button.jsx
  frontend/components/Layouts/DashboardLayout.js
  frontend/components/SignUpForm/SignUpForm.tsx
  frontend/components/SignUpForm/index.ts
  frontend/generated/graphql.tsx
  frontend/graphql/createUser.graphql
  frontend/graphql/feed.graphql
  frontend/graphql/queries/posts.gql
  frontend/graphql/queries/users.gql
  frontend/graphql/users.graphql
  frontend/lib/apollo.tsx
  frontend/lib/validateAuth.ts
  frontend/next.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/dashboard/your-feed.tsx
  frontend/pages/index.tsx
  frontend/pages/signup.tsx
  frontend/public/images/icons/drafts-icon.svg
  frontend/public/images/icons/logout-icon.svg
  frontend/public/images/icons/new-post-icon.svg
  frontend/public/images/icons/settings-icon.svg
  frontend/public/images/icons/your-feed-icon.svg
  frontend/public/images/robin-small.png
  frontend/tsconfig.json
  package-lock.json
Labels: backend, database, docs, frontend
