Repository Journaly/journaly, pull requests merged in 2020-08, with the labels that each got.

#200 Add comment email notifications
  frontend/.env.example
  frontend/lib/mail.ts
  frontend/nexus/graphql.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#203 Tiny email copy fix
  frontend/lib/mail.ts
  frontend/nexus/graphql.ts
Labels: frontend

#205 Fix nav on the Post page and update language selector styles
  frontend/components/LanguageMultiSelect/LanguageMultiSelect.tsx
  frontend/components/LanguageSelect/index.tsx
  frontend/pages/post/[id]/index.tsx
Labels: frontend

#209 🔥 FIRE: Drafts are showing in `My Feed` page and causing server errors and user concern/confusion
  frontend/nexus/post.ts
Labels: backend, fire

#214 Add Language Badge to PostCards in My Feed
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/fragments.graphql
Labels: frontend

#216 Add more information to the Post header
  frontend/components/Dashboard/Post/Post.tsx
  frontend/utils/date.ts
Labels: frontend

#217 Render empty paragraphs consistently between editor and post page.
  frontend/components/PostBodyStyles/PostBodyStyles.tsx
  frontend/nexus/utils.ts
Labels: frontend

#225 Set max 3 columns of PostCards on the My Feed page
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
Labels: frontend

#224 Allow profile sections to take up more height
  frontend/components/Dashboard/Profile/PostList.tsx
  frontend/components/Dashboard/Profile/Profile.tsx
Labels: frontend

#226 Fix fieldset ::before animation, which fixes LastPass animation
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/SignupForm/SignupForm.tsx
Labels: frontend

#229 My Feed page should sort by newest posts first
  frontend/nexus/post.ts
Labels: backend, frontend

#228 Fix for first selection emptying without reason, and closing of thread popovers
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/InlineFeedbackPopover/index.tsx
Labels: frontend

#230 Revert "Fix for first selection emptying without reason, and closing of thread popovers"
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/InlineFeedbackPopover/index.tsx
Labels: frontend

#206 Add update & delete comment functionality and improve comment thread UI
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/InlineFeedbackPopover/Comment.tsx
  frontend/components/InlineFeedbackPopover/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/fragments.graphql
  frontend/theme/index.ts
Labels: frontend

#231 Position thread popover in the right place for new threads.
  frontend/components/Dashboard/Post/Post.tsx
Labels: frontend

#232 Fix reverted stuff
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/InlineFeedbackPopover/index.tsx
Labels: frontend

#233 Update My Feed to 9 posts per page
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
Labels: frontend

#234 Fix broken `/about` and `/blog/introducing-journaly` pages
  frontend/pages/about.tsx
  frontend/pages/blog/introducing-journaly.tsx
Labels: frontend

#237 Alias `/dashboard` to /`dashboard/my-feed`
  frontend/pages/dashboard/index.tsx
Labels: frontend

#199 Add Post Image Upload Functionality
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/PostHeader/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/createPost.graphql
  frontend/graphql/fragments.graphql
  frontend/nexus/graphql.ts
  frontend/nexus/image.ts
  frontend/nexus/index.ts
  frontend/nexus/inputTypes.ts
  frontend/nexus/post.ts
  frontend/pages/dashboard/new-post.tsx
Labels: backend, frontend

#241 🔥 PROD FIX: Author not displaying on posts
  frontend/components/Dashboard/Post/Post.tsx
Labels: bug, frontend

#236 Create generic Select and MultiSelect components
  frontend/elements/MultiSelect/MultiSelect.tsx
  frontend/elements/MultiSelect/index.ts
  frontend/elements/Select/Select.tsx
  frontend/elements/Select/index.ts
Labels: frontend

#242 Indicate active toolbar buttons
  frontend/components/Icons/FormatBoldIcon.tsx
  frontend/components/Icons/FormatItalicIcon.tsx
  frontend/components/Icons/FormatListBulletedIcon.tsx
  frontend/components/Icons/FormatListNumberedIcon.tsx
  frontend/components/Icons/FormatQuoteIcon.tsx
  frontend/components/Icons/FormatTitleIcon.tsx
  frontend/components/Icons/FormatUnderlinedIcon.tsx
  frontend/components/JournalyEditor/Button.tsx
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/public/images/icons/journaly-editor/format_bold.svg
  frontend/public/images/icons/journaly-editor/format_code.svg
  frontend/public/images/icons/journaly-editor/format_italic.svg
  frontend/public/images/icons/journaly-editor/format_list_bulleted.svg
  frontend/public/images/icons/journaly-editor/format_list_numbered.svg
  frontend/public/images/icons/journaly-editor/format_quote.svg
  frontend/public/images/icons/journaly-editor/format_title.svg
  frontend/public/images/icons/journaly-editor/format_underlined.svg
Labels: frontend

#244 Prevent Email Notifications About Your Own Comments
  frontend/nexus/graphql.ts
Labels: backend, frontend

#245 Update details form validations
  frontend/components/Dashboard/Settings/DetailsForm.tsx
Labels: frontend

#239 SETTINGS/PROFILE: Wire up user details & profile image upload
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Dashboard/Profile/ProfileCard.tsx
  frontend/components/Dashboard/Settings/DetailsForm.tsx
  frontend/components/Icons/BlankAvatarIcon.tsx
  frontend/elements/Button/Button.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/updateUser.graphql
  frontend/hooks/useImageUpload.ts
  frontend/nexus/user.ts
  frontend/pages/dashboard/settings/profile.tsx
  frontend/public/static/locales/en/settings.json
Labels: backend, frontend

#254 Fix bug
  frontend/components/InlineFeedbackPopover/Comment.tsx
Labels: bug, visual

#258 POSTS: GREATLY Improve Post styles for tablet & mobile
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/PostHeader/index.tsx
Labels: frontend

#260 Clear selection before resetting editor content on new post page
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/pages/dashboard/new-post.tsx
  frontend/pages/post/[id]/edit.tsx
Labels: frontend

#264 Correctly html-ify list items. Fixes #253
  frontend/nexus/utils.ts
Labels: frontend

#256 Stop logging current user on Feed
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
Labels: frontend

#261 Fix number of pages for a given number of posts
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/nexus/post.ts
Labels: frontend

#266 Use dir="auto" to format RTL languages
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/components/PostHeader/index.tsx
  frontend/pages/dashboard/new-post.tsx
Labels: frontend

#269 Add basic toast message and style overrides
  frontend/components/Dashboard/Post/Post.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/public/static/locales/en/post.json
  frontend/styles/react-toastify-overrides.css
Labels: frontend

#270 Refactor new post and edit post pages to reuse much more code
  frontend/components/FileInput/FileInput.tsx
  frontend/components/FileInput/index.tsx
  frontend/components/PostEditor/PostEditor.tsx
  frontend/components/PostEditor/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/currentUser.graphql
  frontend/graphql/editPost.graphql
  frontend/graphql/fragments.graphql
  frontend/graphql/updatePost.graphql
  frontend/hooks/useImageUpload.ts
  frontend/nexus/post.ts
  frontend/pages/dashboard/new-post.tsx
  frontend/pages/post/[id]/edit.tsx
  frontend/public/static/locales/en/post.json
  frontend/theme/index.ts
Labels: frontend

#272 Fix comment count on post cards and issue where comments would be clipped off by post container
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/fragments.graphql
  frontend/nexus/post.ts
  frontend/pages/_app.tsx
Labels: frontend

#273 PROFILES: Allow Users to view other users' profiles
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Dashboard/Profile/PostList.tsx
  frontend/components/Dashboard/Profile/Profile.tsx
  frontend/components/Dashboard/Profile/ProfileCard.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/user/userById.graphql
  frontend/nexus/user.ts
  frontend/pages/dashboard/profile.tsx
  frontend/pages/dashboard/profile/[id]/index.tsx
Labels: backend, frontend

#274 Quick file structure re-org for PostHeader
  frontend/components/PostHeader/PostHeader.tsx
  frontend/components/PostHeader/index.tsx
Labels: frontend

#276 POSTS: Create Post Author Cards!
  components/Dashboard/Post/Post.tsx
  components/Dashboard/Post/PostAuthorCard.tsx
  components/Dashboard/Post/PostComments.tsx
  components/InlineFeedbackPopover/Comment.tsx
  generated/graphql.tsx
  graphql/fragments.graphql
  pages/post/[id]/index.tsx
Labels: frontend

#279 Quick fix for max width on post section
  pages/post/[id]/index.tsx
Labels: bug, frontend, high priority, visual

#280 Order "Recent Posts" on profile page by publish date.
  .env.example
  components/AuthGate/AuthGate.tsx
  components/Dashboard/Profile/PostList.tsx
  components/Dashboard/Profile/Profile.tsx
  generated/graphql.tsx
  graphql/profile.graphql
  lib/apollo.tsx
  nexus/post.ts
  nexus/user.ts
  pages/dashboard/profile/[id]/index.tsx
Labels: backend, frontend

#289 DESIGN UPDATES 👓 📐♥️👌🏼
  components/Dashboard/Post/Post.tsx
  components/Dashboard/Post/PostAuthorCard.tsx
  components/Dashboard/Post/PostComment.tsx
  components/Dashboard/Post/PostComments.tsx
  components/Dashboard/PostCard/PostCard.tsx
  components/Icons/DeleteIcon.tsx
  components/Icons/EditIcon.tsx
  components/Icons/LeaveACommentIcon.tsx
  components/Icons/PencilIcon.tsx
  components/InlineFeedbackPopover/Comment.tsx
  components/InlineFeedbackPopover/index.tsx
  components/PostBodyStyles/PostBodyStyles.tsx
  elements/Button/Button.tsx
  pages/_document.tsx
Labels: frontend, visual

#298 🐞 Email addresses should be lowercased on update & login
  nexus/user.ts
Labels: backend

#302 FEATURE: Implement multi-language filter on my feed page
  .gitignore
  components/Dashboard/MyFeed/MyFeed.tsx
  elements/MultiSelect/MultiSelect.tsx
  elements/Select/Select.tsx
  generated/graphql.tsx
  graphql/fragments.graphql
  graphql/language/languages.graphql
  graphql/post/feed.graphql
  nexus/language.ts
  nexus/post.ts
Labels: backend, enhancement, frontend, high priority

#316 Add empty states to lists of posts
  components/Dashboard/MyPosts/MyPosts.tsx
  components/Dashboard/Profile/PostList.tsx
  components/Dashboard/Profile/Profile.tsx
  components/TranslationLink/TranslationLink.tsx
  components/TranslationLink/index.ts
  docs/1-internationalization.md
  pages/dashboard/profile/[id]/index.tsx
  public/static/locales/en/my-posts.json
  public/static/locales/en/profile.json
Labels: docs, frontend

#318 Order languages alphabetically
  nexus/language.ts
Labels: backend, visual

#306 COMMENTS: A wee overhaul
  .gitignore
  components/Dashboard/Post/PostComment.tsx
  components/InlineFeedbackPopover/Comment.tsx
  generated/graphql.tsx
  graphql/fragments.graphql
  nexus/comment.ts
  nexus/post.ts
  theme/index.ts
  utils/date.ts
Labels: backend, enhancement, frontend

#319 Ensure 2 columns of same size
  components/Dashboard/MyPosts/MyPosts.tsx
  components/Dashboard/PostCard/PostCard.tsx
Labels: bug, frontend

#320 LineClamp the PostCard title and excerpt
  components/Dashboard/PostCard/PostCard.tsx
  elements/LineClamp/LineClamp.tsx
  elements/LineClamp/index.ts
Labels: enhancement, frontend

#323 Put back removed withPadding={false}
  pages/dashboard/profile/[id]/index.tsx
Labels: bug, frontend
