Repository Journaly/journaly, pull requests merged in 2020-11, with the labels that each got.

#354 Language Levels - UI
  components/Dashboard/Post/Post.tsx
  components/Dashboard/Post/PostAuthorCard.tsx
  components/Dashboard/PostCard/PostCard.tsx
  components/Dashboard/Profile/PostList.tsx
  components/Dashboard/Profile/Profile.tsx
  components/Dashboard/Profile/ProfileCard.tsx
  components/Dashboard/Settings/DetailsForm.tsx
  components/Dashboard/Settings/InterestsForm.tsx
  components/Dashboard/Settings/SocialForm.tsx
  components/PostEditor/PostEditor.tsx
  components/PostHeader/PostHeader.tsx
  elements/LevelGauge/LevelGauge.tsx
  elements/LevelGauge/index.tsx
  elements/MultiSelect/MultiSelect.tsx
  generated/graphql.tsx
  graphql/fragments.graphql
  pages/dashboard/profile/[id]/index.tsx
  pages/dashboard/settings/account.tsx
  public/static/locales/en/post-author-card.json
  utils/languages.ts
Labels: enhancement, frontend

#359 Quick updates
  pages/blog/introducing-journaly.tsx
  public/static/locales/en/settings.json
Labels: frontend

#363 Add update some lines and add notes for Windows users
  README.md
Labels: docs

#366 Remove locale subpaths
  components/Icons/FlagDEIcon.tsx
  components/Icons/FlagUSIcon.tsx
  components/UILanguageSelect/UILanguageSelect.tsx
  components/UILanguageSelect/index.ts
  config/i18n.js
  pages/dashboard/settings/profile.tsx
Labels: frontend

#365 call pagination reset from filters
  components/Dashboard/MyFeed/MyFeed.tsx
  docs/contributing-guide.md
Labels: frontend

#371 Wire Up The Update Password Functionality In Settings
  components/Dashboard/Settings/UpdatePasswordForm.tsx
  generated/graphql.tsx
  graphql/user/updatePassword.graphql
  nexus/user.ts
  pages/dashboard/settings/account.tsx
  public/static/locales/en/settings.json
Labels: backend, frontend

#379 Enable post deletion
  components/Dashboard/Post/Post.tsx
  components/Modals/ConfirmationModal/ConfirmationModal.tsx
  components/Modals/ConfirmationModal/index.ts
  elements/Button/Button.tsx
  generated/graphql.tsx
  graphql/post/deletePost.graphql
  nexus/post.ts
  public/static/locales/en/common.json
  public/static/locales/en/post.json
Labels: backend, frontend

#384 Include PostComments in commentCount on PostCards
  nexus/post.ts
Labels: backend

#385 Set up CircleCI
  .circleci/config.yml
Labels: devops

#378 Post page SSR improvements
  components/Dashboard/Nav/Nav.tsx
  components/Dashboard/Nav/NavLinks.tsx
  components/Layouts/DashboardLayout.tsx
  generated/graphql.tsx
  graphql/pages/postPage.graphql
  graphql/pages/profilePage.graphql
  package-lock.json
  package.json
  pages/dashboard/profile/[id]/index.tsx
  pages/post/[id]/index.tsx
Labels: frontend, optimization

#388 iOS copy/paste "context menu" obscures create thread button
  components/Dashboard/Post/Post.tsx
  utils/index.ts
Labels: bug, frontend

#390 CircleCI Setup
  .circleci/config.yml
  .github/workflows/greetings.yml
  next.config.js
Labels: devops

#386 Enable users to update their handle
  components/Dashboard/Settings/DetailsForm.tsx
  components/Dashboard/Settings/SettingsForm.tsx
  components/FormError/FormError.tsx
  generated/graphql.tsx
  graphql/user/updateUser.graphql
  nexus/errors.ts
  nexus/user.ts
  nexus/utils/userValidation.ts
  public/static/locales/en/settings.json
Labels: backend, frontend

#391 Allow for nulls in email/handle of validateUpdateUserMutationData.
  nexus/utils/userValidation.ts
Labels: backend

#392 Add dialect to filter dropdown
  components/Dashboard/MyFeed/MyFeed.tsx
Labels: frontend
