Repository Journaly/journaly, pull requests merged in 2020-04, with the labels that each got.

#34 Port Over & Finish Draft of Post Page
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/Dashboard/Post/index.ts
  frontend/pages/dashboard/post.tsx
  frontend/public/images/samples/sample-post-img.jpg
Labels: frontend

#32 Port Remaining Feed Code Over
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/components/Dashboard/PostCard/index.ts
  frontend/pages/dashboard/my-feed.tsx
  frontend/styles/globalStyles.css
Labels: frontend

#27 Add blog post
  frontend/components/Layouts/BlogPageLayout.tsx
  frontend/components/Site/About/About.tsx
  frontend/components/Site/Nav/Nav.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/blog.js
  frontend/pages/blog/introducing-journaly.tsx
  frontend/pages/blog/welcome-to-journaly.tsx
  frontend/public/images/blog/post01-image.jpg
  frontend/styles/globalStyles.css
  frontend/tsconfig.json
  frontend/utils/date.ts
  frontend/utils/index.js
Labels: frontend

#44 Update directory names
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/LoginForm/index.ts
  frontend/components/SignupForm/SignupForm.tsx
  frontend/components/SignupForm/index.ts
  frontend/components/Site/Home/TopSection.tsx
  frontend/components/Site/SignupForm/SignupForm.tsx
  frontend/components/Site/SignupForm/index.ts
Labels: frontend

#48 Fix Minimist Security Vulnerability
  frontend/package-lock.json
Labels: frontend, security fix

#47 Implement i18n 🌍 in the app
  README.md
  frontend/README.md
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/config/i18n.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/_app.tsx
  frontend/pages/_document.js
  frontend/pages/_document.tsx
  frontend/pages/_error.tsx
  frontend/pages/about.tsx
  frontend/pages/blog/introducing-journaly.tsx
  frontend/pages/dashboard/drafts.tsx
  frontend/pages/dashboard/login.tsx
  frontend/pages/dashboard/my-feed.tsx
  frontend/pages/dashboard/my-posts.tsx
  frontend/pages/dashboard/post.tsx
  frontend/pages/dashboard/settings.tsx
  frontend/pages/dashboard/signup.tsx
  frontend/pages/index.tsx
  frontend/public/static/locales/de/common.json
  frontend/public/static/locales/en/common.json
  frontend/server/index.js
Labels: docs, frontend

#50 Upgrade Nexus & Prisma
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.ts
  backend/src/graphql.ts
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Dashboard/Post/Post.tsx
  frontend/graphql/createUser.graphql
  frontend/graphql/currentUser.graphql
  frontend/graphql/feed.graphql
  frontend/graphql/users.graphql
Labels: backend, database, frontend

#51 Add Google Analytics
  frontend/README.md
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/SignupForm/SignupForm.tsx
  frontend/events/users.ts
  frontend/lib/google-analytics.ts
  frontend/lib/gtag.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
Labels: docs, frontend

#41 Set up Google Analytics
  frontend/README.md
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/SignupForm/SignupForm.tsx
  frontend/events/users.ts
  frontend/lib/google-analytics.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/index.tsx
Labels: WIP, docs, frontend

#54 FEATURE: Inline Feedback Experience - Part 1
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/Hooks/useTextSelection.ts
  frontend/components/Icons/IconLeaveAComment.js
  frontend/components/TextSelection/SelectionComment.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/icons/icon__leave-a-comment.svg
  frontend/svgo.json
  frontend/utils/colors.js
Labels: frontend

#58 Implement nav with transitions
  frontend/components/Dashboard/Dashboard.tsx
  frontend/components/Dashboard/Header/Header.tsx
  frontend/components/Dashboard/Header/index.ts
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Dashboard/Nav/index.ts
  frontend/components/Dashboard/Nav/nav-constants.ts
  frontend/components/Hooks/useWindowSize.ts
  frontend/components/Layouts/DashboardLayout.js
  frontend/components/Layouts/DashboardLayout.tsx
  frontend/pages/_document.tsx
  frontend/public/static/locales/en/common.json
  frontend/styles/globalStyles.css
  frontend/utils/breakpoints.js
  frontend/utils/colors.js
Labels: frontend

#56 Approach Doc - Design & Implement a system for using SVGs at Journaly
  docs/approach-docs/system-svg.md
Labels: docs

#60 Replace deprecated tslint with typescript-eslint
  frontend/.eslintrc.js
  frontend/.prettierrc.js
  frontend/.prettierrc.json
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Dashboard/Nav/Nav.test.tsx
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/Error/Error.tsx
  frontend/components/Hooks/useFormValidation.ts
  frontend/components/Hooks/useTextSelection.ts
  frontend/components/Hooks/useWindowSize.ts
  frontend/components/Icons/IconLeaveAComment.tsx
  frontend/components/JournalyEditor/Button.tsx
  frontend/components/JournalyEditor/JournalyEditor.test.tsx
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/components/JournalyEditor/Toolbar.tsx
  frontend/components/Layouts/LandingPageLayout.tsx
  frontend/components/Logo/Logo.test.tsx
  frontend/components/NavLink/NavLink.test.tsx
  frontend/components/NavLink/NavLink.tsx
  frontend/components/Site/Home/HomeSection.tsx
  frontend/components/Site/Home/ReasonsSection.tsx
  frontend/components/Site/Home/Testimonial.tsx
  frontend/components/Site/Nav/Nav.test.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_error.tsx
  frontend/pages/dashboard/my-feed.tsx
  frontend/tsconfig.json
  frontend/tslint.json
Labels: frontend
