Repository Journaly/journaly, pull requests merged in 2020-07, with the labels that each got.

#124 Add The Almighty `AuthGate`, AKA "Gatekeeper Of Auth" 🤺⾨
  frontend/components/AuthGate/AuthGate.tsx
  frontend/components/AuthGate/index.tsx
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/LoadingWrapper/LoadingWrapper.tsx
  frontend/components/LoadingWrapper/index.tsx
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/SignupForm/SignupForm.tsx
  frontend/pages/dashboard/my-feed.tsx
  frontend/pages/dashboard/my-posts.tsx
  frontend/pages/dashboard/new-post.tsx
  frontend/pages/dashboard/settings/account.tsx
  frontend/pages/dashboard/settings/profile.tsx
Labels: frontend

#122 Tab toggle component for the My Posts page
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/elements/TabToggle/TabToggle.tsx
  frontend/elements/TabToggle/index.ts
  frontend/pages/dashboard/drafts.tsx
  frontend/pages/dashboard/my-posts.tsx
  frontend/public/static/locales/en/common.json
Labels: frontend

#126 Misc changes around draft posts
  .gitattributes
  backend/src/errors.ts
  backend/src/graphql.ts
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/LanguageSelect/index.tsx
  frontend/elements/Button/Button.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/createPost.graphql
  frontend/graphql/currentUser.graphql
  frontend/graphql/fragments.graphql
  frontend/graphql/updatePost.graphql
  frontend/pages/dashboard/new-post.tsx
  frontend/pages/post/[id].tsx
  frontend/public/static/locales/en/common.json
  frontend/public/static/locales/en/post.json
Labels: backend, frontend

#129 Use isomorphic library for sanitizing
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/InlineFeedbackPopover/index.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/index.ts
Labels: frontend

#128 Autosave editor content on new post page.
  frontend/components/Dashboard/Post/Post.tsx
  frontend/hooks/useAutosavedState.ts
  frontend/lib/apollo.tsx
  frontend/pages/dashboard/new-post.tsx
Labels: frontend

#130 Better editor saving support
  backend/src/graphql.ts
  backend/src/utils.ts
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/components/PostBodyStyles/PostBodyStyles.tsx
  frontend/components/PostBodyStyles/index.tsx
Labels: backend, frontend

#131 Fix Build Errors
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/components/PostBodyStyles/index.tsx
Labels: frontend

#127 Expose currentUser directly to children of AuthGate
  frontend/components/AuthGate/AuthGate.tsx
  frontend/components/Dashboard/Dashboard.tsx
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Dashboard/Users/Users.tsx
  frontend/components/Layouts/DashboardLayout.tsx
  frontend/components/Layouts/SettingsPageLayout.tsx
  frontend/components/LoadingWrapper/LoadingWrapper.tsx
  frontend/pages/dashboard/my-feed.tsx
  frontend/pages/dashboard/my-posts.tsx
  frontend/pages/dashboard/new-post.tsx
  frontend/pages/dashboard/settings/account.tsx
  frontend/pages/dashboard/settings/profile.tsx
  frontend/pages/post/[id].tsx
Labels: frontend

#137 Support querying posts by userId, status; expose excerpt, readTime
  README.md
  backend/.env.example
  backend/prisma/.env.example
  backend/src/app.ts
  backend/src/graphql.ts
  backend/src/utils.ts
  frontend/codegen.yml
  frontend/generated/graphql.tsx
  frontend/graphql/feed.graphql
  frontend/graphql/fragments.graphql
  frontend/graphql/posts.graphql
Labels: backend, docs, frontend

#138 Add images for the profile page and posts
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Icons/BlankAvatarIcon.tsx
  frontend/components/Icons/CommentIcon.tsx
  frontend/components/Icons/FacebookIcon.tsx
  frontend/components/Icons/GlobeIcon.tsx
  frontend/components/Icons/InstagramIcon.tsx
  frontend/components/Icons/LikeIcon.tsx
  frontend/components/Icons/XIcon.tsx
  frontend/components/Icons/YoutubeIcon.tsx
  frontend/public/images/icons/blank_avatar.svg
  frontend/public/images/icons/comment-icon.svg
  frontend/public/images/icons/like-icon.svg
  frontend/public/images/icons/yt-logo.svg
  frontend/public/images/profile/person_using_typewriter.jpg
Labels: frontend

#139 Display user details and posts on the profile page
  frontend/components/Dashboard/Dashboard.tsx
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/components/Dashboard/Profile/PostList.tsx
  frontend/components/Dashboard/Profile/Profile.tsx
  frontend/components/Dashboard/Profile/ProfileCard.tsx
  frontend/components/Dashboard/Profile/index.ts
  frontend/components/Dashboard/dashboardConstants.ts
  frontend/components/Dashboard/index.ts
  frontend/components/Layouts/DashboardLayout.tsx
  frontend/docs/1-internationalization.md
  frontend/elements/ExternalLink/ExternalLink.tsx
  frontend/elements/ExternalLink/index.ts
  frontend/pages/dashboard/profile.tsx
  frontend/public/static/locales/en/post.json
  frontend/public/static/locales/en/profile.json
  frontend/utils/date.ts
Labels: frontend

#136 More BE build fixes
  backend/seed.ts
  backend/src/utils.ts
Labels: backend

#140 Display published and draft posts on the My Posts page
  frontend/components/Dashboard/MyPosts/MyPosts.tsx
  frontend/components/Dashboard/MyPosts/index.ts
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/pages/dashboard/my-posts.tsx
Labels: frontend

#141 Update PostCards for use on the My Feed Page
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Dashboard/MyPosts/MyPosts.tsx
  frontend/components/Dashboard/PostCard/PostCard.tsx
Labels: frontend

#143 Fix bugs with the side nav
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Layouts/DashboardLayout.tsx
Labels: frontend

#145 Add nprogress bar for page loads
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/_document.tsx
Labels: frontend

#149 Update the ExternalLink component
  frontend/elements/ExternalLink/ExternalLink.tsx
  frontend/pages/blog/introducing-journaly.tsx
  frontend/styles/globalStyles.css
Labels: frontend

#147 Fix logo position for non-logged in users
  frontend/components/Dashboard/Nav/Nav.tsx
Labels: frontend

#142 Add docs for Cypress
  frontend/README.md
  frontend/components/Modal/Modal.tsx
  frontend/docs/4-e2e-tests.md
Labels: docs, frontend

#151 Dynamically get currentUser from inside <Nav />
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/components/Layouts/DashboardLayout.tsx
  frontend/components/Layouts/SettingsPageLayout.tsx
  frontend/pages/dashboard/my-feed.tsx
  frontend/pages/dashboard/my-posts.tsx
  frontend/pages/dashboard/new-post.tsx
  frontend/pages/dashboard/profile.tsx
Labels: frontend

#156 Add slide animation to TabToggle
  frontend/elements/TabToggle/TabToggle.tsx
  frontend/pages/dashboard/my-posts.tsx
Labels: frontend

#154 Get translation working with serverless functions
  .gitignore
  frontend/components/Site/Home/ReasonsSection.tsx
  frontend/config/i18n.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_document.tsx
  frontend/pages/index.tsx
  frontend/public/static/locales/de/common.json
  frontend/public/static/locales/en/common.json
  frontend/server/index.js
Labels: DO NOT MERGE, frontend

#155 Prep BE for deployment
  .gitignore
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/serverless_functions/graphql.ts
  frontend/.env.example
  frontend/api.graphql
  frontend/backend/.prettierignore
  frontend/backend/.prettierrc.json
  frontend/backend/.vscode/launch.json
  frontend/backend/README.md
  frontend/backend/custom.d.ts
  frontend/backend/cypress.json
  frontend/backend/seed.ts
  frontend/backend/src/errors.ts
  frontend/backend/src/graphql.ts
  frontend/backend/src/utils.ts
  frontend/backend/tsconfig.json
  frontend/backend/tslint.json
  frontend/codegen.yml
  frontend/lib/apollo.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/api/graphql.ts
  frontend/pages/api/playground.ts
  frontend/pages/dashboard/settings/account.tsx
  frontend/pages/dashboard/settings/profile.tsx
  frontend/prisma/.env.example
  frontend/prisma/migrations/20200624211600-initial/README.md
  frontend/prisma/migrations/20200624211600-initial/schema.prisma
  frontend/prisma/migrations/20200624211600-initial/steps.json
  frontend/prisma/migrations/20200625141833-remove-language-learning-unique-constraint-on-user-id/README.md
  frontend/prisma/migrations/20200625141833-remove-language-learning-unique-constraint-on-user-id/schema.prisma
  frontend/prisma/migrations/20200625141833-remove-language-learning-unique-constraint-on-user-id/steps.json
  frontend/prisma/migrations/20200702185801-fix-issues/README.md
  frontend/prisma/migrations/20200702185801-fix-issues/schema.prisma
  frontend/prisma/migrations/20200702185801-fix-issues/steps.json
  frontend/prisma/migrations/migrate.lock
  frontend/prisma/schema.prisma
  frontend/server/index.js
  frontend/tsconfig.json
Labels: backend, frontend

#158 Fix Post background color and header/image width
  frontend/components/Dashboard/Post/Post.tsx
Labels: frontend

#159 Move title to above toggle
  frontend/components/Dashboard/MyPosts/MyPosts.tsx
  frontend/pages/dashboard/my-posts.tsx
Labels: frontend

#162 Make dashboard, nav, and scrolled content responsive and visible
  frontend/components/Dashboard/Header/HamburgerIcon.tsx
  frontend/components/Dashboard/Header/Header.tsx
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Dashboard/Profile/PostList.tsx
  frontend/components/Dashboard/dashboardConstants.ts
  frontend/components/Layouts/DashboardLayout.tsx
  frontend/components/Layouts/SettingsPageLayout.tsx
Labels: frontend

#165 Add loading spinner to AuthGate
  frontend/components/Dashboard/MyPosts/MyPosts.tsx
  frontend/components/Dashboard/Profile/PostList.tsx
  frontend/components/Icons/LoadingSpinner.tsx
  frontend/components/LoadingWrapper/LoadingWrapper.tsx
Labels: frontend

#166 Add pagination component
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Pagination/Pagination.tsx
  frontend/components/Pagination/index.ts
Labels: frontend

#163 Restructure Cleanup (part 1)
  .gitignore
  README.md
  frontend/.prettierignore
  frontend/README.md
  frontend/api.graphql
  frontend/backend/.prettierignore
  frontend/backend/.prettierrc.json
  frontend/backend/.vscode/launch.json
  frontend/backend/README.md
  frontend/backend/custom.d.ts
  frontend/backend/cypress.json
  frontend/backend/src/graphql.ts
  frontend/backend/tsconfig.json
  frontend/netlify.toml
  frontend/nexus/errors.ts
  frontend/nexus/graphql.ts
  frontend/nexus/index.ts
  frontend/nexus/post.ts
  frontend/nexus/user.ts
  frontend/nexus/utils.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/api/graphql.ts
  frontend/pages/api/playground.ts
  frontend/scripts/seed.ts
  frontend/tslint.json
Labels: docs, frontend

#168 Fix nav transitions 🥳
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Layouts/DashboardLayout.tsx
Labels: frontend

#170 Hide thread/comment creation UI for non-logged-in users
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/InlineFeedbackPopover/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/logout.graphql
  frontend/nexus/user.ts
Labels: frontend

#179 Fix profile visual bugs
  frontend/components/Dashboard/Profile/PostList.tsx
  frontend/components/Dashboard/Profile/Profile.tsx
  frontend/components/Dashboard/Profile/ProfileCard.tsx
Labels: frontend

#176 Restore styling for h2 in Posts
  frontend/components/PostBodyStyles/PostBodyStyles.tsx
Labels: frontend

#181 Fix visual bugs in MyFeed search & filters
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Icons/ChevronIcon.tsx
Labels: frontend

#184 Fix Nav Color Mismatch
  frontend/components/Dashboard/Header/Header.tsx
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/theme/index.ts
Labels: frontend

#185 Add Welcome Modal to the My Feed page
  frontend/components/Modal/Modal.tsx
  frontend/components/Modal/ModalBody.tsx
  frontend/components/Modal/ModalHeader.tsx
  frontend/components/Modals/WelcomeModal/WelcomeModal.tsx
  frontend/components/Modals/WelcomeModal/WelcomeModalBody.tsx
  frontend/components/Modals/WelcomeModal/index.ts
  frontend/pages/dashboard/my-feed.tsx
Labels: frontend

#189 Set up My Feed pagination & improve drop down styling
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/components/Icons/ChevronIcon.tsx
  frontend/components/Pagination/Pagination.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/feed.graphql
  frontend/nexus/post.ts
  frontend/pages/dashboard/my-feed.tsx
Labels: frontend

#190 Clean up/remove old backend directory
  backend/src/app.ts
  backend/src/serverless_functions/graphql.ts
Labels: backend

#193 Update language select styles
  frontend/components/LanguageMultiSelect/LanguageMultiSelect.tsx
  frontend/components/LanguageSelect/index.tsx
  frontend/components/Modals/WelcomeModal/WelcomeModal.tsx
Labels: frontend

#195 Update sub-header styles in posts
  frontend/components/PostBodyStyles/PostBodyStyles.tsx
Labels: frontend

#197 Implement a way to get to the dashboard from landing page when logged in
  frontend/components/Site/Nav/Nav.tsx
Labels: frontend

#198 Improve Post Sub Title Styles
  frontend/components/PostBodyStyles/PostBodyStyles.tsx
Labels: frontend

#202 Improve the grid on the My Feed page
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Dashboard/PostCard/PostCard.tsx
Labels: frontend
