Repository Journaly/journaly, pull requests merged in 2020-06, with the labels that each got.

#81 Clean up the text editor for writing a new post
  frontend/components/JournalyEditor/Button.tsx
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/theme/index.ts
Labels: frontend

#91 New Local Dev Setup & Minor Documentation Improvements
  .env.example
  README.md
  backend/.env.example
  backend/Dockerfile
  docker-compose.override.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/README.md
  frontend/docs/0-creating-pages.md
  frontend/docs/1-internationalization.md
  frontend/docs/2-event-tracking.md
  frontend/docs/3-working-with-images.md
  package-lock.json
  package.json
Labels: backend, devops, docs, frontend

#89 FEATURE: Inline Feedback Experience PART 2 - Handle Loading Persisted Comments
  backend/prisma/schema.prisma
  frontend/components/Dashboard/Post/Post.tsx
Labels: backend, database, frontend

#93 Load posts from BE
  backend/seed.ts
  backend/src/graphql.ts
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/Dashboard/Users/Users.tsx
  frontend/components/LoadingWrapper/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/postById.graphql
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/dashboard/my-feed.tsx
  frontend/pages/post/[id].tsx
  frontend/theme/index.ts
Labels: backend, frontend

#83 Forms on the settings pages and responsive design
  frontend/components/Dashboard/Dashboard.tsx
  frontend/components/Dashboard/Settings/BioForm.tsx
  frontend/components/Dashboard/Settings/Breadcrumbs.tsx
  frontend/components/Dashboard/Settings/DetailsForm.tsx
  frontend/components/Dashboard/Settings/InterestsForm.tsx
  frontend/components/Dashboard/Settings/LanguagesForm.tsx
  frontend/components/Dashboard/Settings/SettingsFieldset.tsx
  frontend/components/Dashboard/Settings/SettingsForm.tsx
  frontend/components/Dashboard/Settings/SettingsNav.tsx
  frontend/components/Dashboard/Settings/SocialForm.tsx
  frontend/components/Error/Error.tsx
  frontend/components/Error/index.ts
  frontend/components/FormError/FormError.tsx
  frontend/components/FormError/index.ts
  frontend/components/Layouts/SettingsPageLayout.tsx
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/SignupForm/SignupForm.tsx
  frontend/package.json
  frontend/pages/dashboard/settings/account.tsx
  frontend/pages/dashboard/settings/profile.tsx
  frontend/public/static/locales/en/settings.json
  frontend/styles/globalStyles.css
  frontend/styles/reset.css
  frontend/theme/index.ts
Labels: frontend

#94 Update backend to accommodate threads/comments
  backend/package.json
  backend/prisma/migrations/20200610133356-initial/schema.prisma
  backend/prisma/migrations/20200610190842-optionalize-some-user-fields/README.md
  backend/prisma/migrations/20200610190842-optionalize-some-user-fields/steps.json
  backend/prisma/migrations/20200610191234-optionalize-user-auth/README.md
  backend/prisma/migrations/20200610191234-optionalize-user-auth/schema.prisma
  backend/prisma/migrations/20200610191234-optionalize-user-auth/steps.json
  backend/prisma/migrations/20200617112632-initial/README.md
  backend/prisma/migrations/20200617112632-initial/schema.prisma
  backend/prisma/migrations/20200617112632-initial/steps.json
  backend/prisma/migrations/migrate.lock
  backend/prisma/schema.prisma
  backend/seed.ts
  backend/src/graphql.ts
  frontend/components/Dashboard/Post/Post.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/postById.graphql
  frontend/theme/index.ts
  package.json
Labels: backend, database

#95 Display inline feedback
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/InlineFeedbackPopover/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/postById.graphql
Labels: frontend

#96 Allow creating new comments on existing threads.
  backend/src/graphql.ts
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/InlineFeedbackPopover/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/createComment.graphql
  frontend/graphql/postById.graphql
  frontend/pages/dashboard/post.tsx
  frontend/pages/post/[id].tsx
Labels: backend, frontend

#97 Allow users to create new threads that are actually persisted to the DB
  backend/src/graphql.ts
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/InlineFeedbackPopover/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/createThread.graphql
  frontend/graphql/fragments.graphql
  frontend/graphql/postById.graphql
Labels: backend, frontend

#101 Expand Seed Data
  backend/prisma/migrations/migrate.lock
  backend/seed.ts
Labels: WIP, backend, database, frontend

#104 Light refactoring of our Nexus GraphQL schema
  backend/src/graphql.ts
Labels: backend

#108 Implement My Feed Search, Filtering, and Pagination - Backend
  backend/seed.ts
  backend/src/graphql.ts
  backend/tsconfig.json
Labels: backend

#105 Expand Commenting CRUD Operations : Backend
  backend/src/graphql.ts
  backend/src/utils.ts
  frontend/generated/graphql.tsx
  frontend/graphql/deleteComment.graphql
  frontend/graphql/fragments.graphql
  frontend/graphql/updateComment.graphql
Labels: backend, frontend

#116 Robin/make signup n login lavly
  frontend/components/Dashboard/MyFeed/MyFeed.tsx
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/components/Layouts/BlogPageLayout.tsx
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/SignupForm/SignupForm.tsx
  frontend/components/Site/About/About.tsx
  frontend/components/Site/Home/HomeSection.tsx
  frontend/components/Site/Home/TopSection.tsx
  frontend/pages/dashboard/new-post.tsx
Labels: frontend

#114 A few things around post creation
  backend/src/graphql.ts
  backend/src/utils.ts
  frontend/components/Dashboard/Nav/Nav.tsx
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/components/LanguageSelect/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/createPost.graphql
  frontend/graphql/currentUser.graphql
  frontend/lib/apollo.tsx
  frontend/pages/dashboard/new-post.tsx
Labels: backend, frontend

#118 Add First Journaly Cypress Integration Tests
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/author/author.spec.js
  cypress/integration/feed/my_feed.spec.js
  cypress/integration/landing/explore_landing_page.spec.js
  cypress/integration/posts/my_posts.spec.js
  cypress/integration/posts/new_post.spec.js
  cypress/integration/posts/post.spec.js
  cypress/integration/smoke_test.spec.js
  cypress/integration/user/login.spec.js
  cypress/integration/user/profile.spec.js
  cypress/integration/user/settings.spec.js
  cypress/integration/user/signup.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/SignupForm/SignupForm.tsx
  frontend/pages/dashboard/new-post.tsx
  package-lock.json
  package.json
Labels: frontend

#119 Add Missing Styles For Journaly Editor
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/components/JournalyEditor/Toolbar.tsx
Labels: frontend

#121 Clean Up Old Form Validation Hook & Add "Get Started" Button On Landing Page
  frontend/components/Site/Home/TopSection.tsx
  frontend/components/Site/SignupForm/SignupForm.tsx
  frontend/components/Site/SignupForm/index.ts
  frontend/elements/Button/Button.tsx
  frontend/hooks/useFormValidation.ts
Labels: frontend
