Repository Journaly/journaly, pull requests merged in 2020-05, with the labels that each got.

#62 Create script for converting SVGs to React components
  frontend/README.md
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/Icons/FeedIcon.tsx
  frontend/components/Icons/LeaveACommentIcon.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/icons/icon__leave-a-comment.svg
  frontend/scripts/svgr.js
  frontend/svgo.json
Labels: docs, frontend

#63 Create a modal component
  frontend/.prettierrc.js
  frontend/components/Hooks/useFocusTrap.ts
  frontend/components/Icons/XIcon.tsx
  frontend/components/Modal/Modal.tsx
  frontend/components/Modal/ModalBody.tsx
  frontend/components/Modal/ModalFooter.tsx
  frontend/components/Modal/ModalHeader.tsx
  frontend/components/Modal/index.ts
  frontend/components/Modal/modalConstants.ts
  frontend/elements/Button/Button.tsx
  frontend/elements/Button/index.ts
  frontend/pages/_document.tsx
  frontend/styles/globalStyles.css
  frontend/utils/css.ts
  frontend/utils/index.js
Labels: frontend

#64 Prettify
  frontend/components/Dashboard/Dashboard.tsx
  frontend/components/Dashboard/Post/Post.tsx
  frontend/components/Dashboard/PostCard/PostCard.tsx
  frontend/components/Dashboard/Users/Users.tsx
  frontend/components/Form/Form.tsx
  frontend/components/Hooks/useWindowSize.ts
  frontend/components/Icons/FeedIcon.tsx
  frontend/components/JournalyEditor/Button.tsx
  frontend/components/JournalyEditor/JournalyEditor.tsx
  frontend/components/Layouts/BlogPageLayout.tsx
  frontend/components/Layouts/DashboardLayout.tsx
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/SignupForm/SignupForm.tsx
  frontend/components/Site/About/About.tsx
  frontend/components/Site/Home/HomeSection.tsx
  frontend/components/Site/Home/Testimonial.tsx
  frontend/components/Site/Home/TopSection.tsx
  frontend/events/users.ts
  frontend/generated/graphql.tsx
  frontend/lib/apollo.tsx
  frontend/pages/_document.tsx
  frontend/pages/blog/introducing-journaly.tsx
  frontend/pages/dashboard/post.tsx
  frontend/scripts/svgr.js
Labels: frontend

#65 Settings page
  frontend/components/Dashboard/Dashboard.tsx
  frontend/components/Dashboard/Nav/NavLinks.tsx
  frontend/components/Dashboard/Settings/Breadcrumbs.tsx
  frontend/components/Dashboard/Settings/SettingsNav.tsx
  frontend/components/Form/Form.tsx
  frontend/components/Layouts/SettingsPageLayout.tsx
  frontend/components/LoginForm/LoginForm.tsx
  frontend/components/Modal/Modal.tsx
  frontend/components/SignupForm/SignupForm.tsx
  frontend/elements/Button/Button.tsx
  frontend/elements/Button/index.ts
  frontend/hooks/useFocusTrap.ts
  frontend/hooks/useFormValidation.ts
  frontend/hooks/useWindowSize.ts
  frontend/pages/dashboard/settings.tsx
  frontend/pages/dashboard/settings/account.tsx
  frontend/pages/dashboard/settings/profile.tsx
  frontend/public/static/locales/de/settings.json
  frontend/public/static/locales/en/settings.json
Labels: frontend

#67 Implement theme with typography, colors, and breakpoints
  frontend/components/Dashboard/Header/Header.tsx
  frontend/components/Form/Form.tsx
  frontend/theme/index.ts
  frontend/utils/index.js
  frontend/utils/index.ts
Labels: frontend

#71 Flesh out Button component
  .github/pull_request_template.md
  frontend/components/Icons/LoadingSpinner.tsx
  frontend/elements/Button/Button.tsx
  frontend/elements/Button/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/dashboard/settings/account.tsx
Labels: frontend

#72 Implement LoginForm with react-hook-form
  frontend/components/LoginForm/LoginForm.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#43 Set up Cypress for E2E & Unit Tests
  backend/cypress.json
  backend/package-lock.json
  backend/package.json
  frontend/cypress.json
  frontend/package-lock.json
  frontend/package.json
Labels: backend, frontend, test

#17 Improve Database Design & Schema
  .github/ISSUE_TEMPLATE/bug.md
  backend/prisma/migrations/20200328162147-init/README.md
  backend/prisma/migrations/20200328162147-init/schema.prisma
  backend/prisma/migrations/20200328162147-init/steps.json
  backend/prisma/migrations/20200408071119-init/README.md
  backend/prisma/migrations/20200408071119-init/schema.prisma
  backend/prisma/migrations/20200408071119-init/steps.json
  backend/prisma/migrations/migrate.lock
  backend/prisma/schema.prisma
  backend/src/graphql.ts
  frontend/graphql/createUser.graphql
Labels: WIP, backend, database, frontend

#73 Replace generic `<Form />` component with form tailored for settings
  frontend/components/Dashboard/Settings/SettingsFieldset.tsx
  frontend/components/Dashboard/Settings/SettingsForm.tsx
  frontend/components/Form/Form.tsx
  frontend/components/Form/index.ts
  frontend/components/Modal/ModalHeader.tsx
  frontend/pages/dashboard/settings/account.tsx
  frontend/pages/dashboard/settings/profile.tsx
  frontend/public/static/locales/en/settings.json
Labels: frontend
