Repository Journaly/journaly, pull requests merged in 2021-05, with the labels that each got.

#555 Translation tools
  .circleci/config.yml
  README.md
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/public/static/locales/es/authentication.json
  packages/web/public/static/locales/es/comment.json
  packages/web/public/static/locales/es/common.json
  packages/web/tt.js
Labels: docs

#577 Moosend Backfill II
  README.md
  packages/web/components/InlineFeedbackPopover/Thread.tsx
  packages/web/package.json
  packages/web/resolvers/subscription.ts
  packages/web/resolvers/utils/db.ts
  packages/web/resolvers/utils/index.ts
  packages/web/resolvers/utils/stripe.ts
  packages/web/scripts/backfillMoosendSubscriberIds.ts
  packages/web/scripts/grant-free-subscription.ts
  packages/web/tt.js
Labels: docs

#559 Added quickly hacked together `grant-free-subscription` script
  README.md
  packages/web/package.json
  packages/web/resolvers/subscription.ts
  packages/web/resolvers/utils/db.ts
  packages/web/resolvers/utils/index.ts
  packages/web/resolvers/utils/stripe.ts
  packages/web/scripts/grant-free-subscription.ts
Labels: docs

#580 Minor visual fixes & updates to Journaly Editor
  packages/web/components/JournalyEditor/JournalyEditor.tsx
  packages/web/components/JournalyEditor/Toolbar/Toolbar.tsx
Labels: j-editor

#584 Payments Work - Initial Followups
  packages/j-db-client/db-check.js
  packages/j-db-client/package.json
  packages/j-db-client/prisma/migrations/20210525114631_payments_related_improvements/migration.sql
  packages/j-db-client/prisma/schema.prisma
  packages/j-mail/package-lock.json
  packages/j-mail/package.json
  packages/web/components/Dashboard/Settings/Subscription/SubscriptionForm.tsx
  packages/web/generated/graphql.tsx
  packages/web/graphql/pages/subscriptionSettingsPage.graphql
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/api/stripe/webhook.ts
  packages/web/resolvers/subscription.ts
  packages/web/resolvers/user.ts
  packages/web/scripts/grant-free-subscription.ts
Labels: backend, database, payments, seeking early feedback

#588 Fix J-Editor Toolbar Transparency Bug
  packages/web/components/JournalyEditor/Toolbar/Toolbar.tsx
Labels: bug, j-editor, visual
