Repository Journaly/journaly, pull requests merged in 2021-02, with the labels that each got.

#488 Build simple help button
  components/Dashboard/Nav/Nav.tsx
  components/Icons/HelpIcon.tsx
  public/static/locales/en/common.json
Labels: frontend

#485 Fill in last UI translation gaps!
  components/Dashboard/Nav/Nav.tsx
  components/InlineFeedbackPopover/Thread.tsx
  components/JournalyEditor/helpers.ts
  components/Pagination/Pagination.tsx
  components/PostEditor/PostEditor.tsx
  public/static/locales/de/common.json
  public/static/locales/de/my-feed.json
  public/static/locales/de/post.json
  public/static/locales/de/settings.json
  public/static/locales/en/common.json
  public/static/locales/en/my-feed.json
  public/static/locales/en/post.json
Labels: i18n

#493 Use custom slate build with some patches
  components/JournalyEditor/helpers.ts
  package-lock.json
  package.json
Labels: frontend, j-editor

#499 Fix Next.js Meta Tag Warning
  packages/web/pages/_app.tsx
  packages/web/pages/_document.tsx
Labels: frontend

#500 fix(496): add created post on cache
  packages/web/generated/graphql.tsx
  packages/web/graphql/fragments.graphql
  packages/web/graphql/post/createPost.graphql
  packages/web/pages/dashboard/new-post.tsx
Labels: frontend

#498 Update project documentation - Feb 2021
  README.md
  packages/README.md
  packages/j-db-client/README.md
  packages/j-mail/README.md
Labels: docs

#503 feat(434): use optimistic thanks on comments
  packages/web/components/InlineFeedbackPopover/Comment.tsx
  packages/web/components/InlineFeedbackPopover/Thread.tsx
Labels: frontend, optimization
