Repository Journaly/journaly, pull requests merged in 2021-12, with the labels that each got.

#691 New Round Of Slate Upgrades
  packages/web/package-lock.json
  packages/web/package.json
Labels: upgrades, dependencies

#708 In-App Notifications Fast Follow-Ups - Part 1
  packages/web/components/NotificationFeed/Notifications.tsx
Labels: frontend, visual

#709 Add Italian UI Language Support - Part 1 / File Structure
  packages/web/public/static/locales/it/authentication.json
  packages/web/public/static/locales/it/comment.json
  packages/web/public/static/locales/it/common.json
  packages/web/public/static/locales/it/my-feed.json
  packages/web/public/static/locales/it/my-posts.json
  packages/web/public/static/locales/it/post-author-card.json
  packages/web/public/static/locales/it/post.json
  packages/web/public/static/locales/it/profile.json
  packages/web/public/static/locales/it/settings.json
Labels: i18n

#706 POSSIBLE FIX TO OUR LAST MAJOR J-EDITOR ISSUES
  packages/web/package-lock.json
  packages/web/package.json
Labels: frontend, upgrades, dependencies, j-editor

#713 Update German translations settings.json
  packages/web/public/static/locales/de/settings.json
Labels: i18n

#715 Update German translations in common.json
  packages/web/public/static/locales/de/common.json
Labels: i18n

#714 Update German translations in comment.json
  packages/web/public/static/locales/de/comment.json
Labels: i18n

#716 Update German translations in post.json
  packages/web/public/static/locales/de/post.json
Labels: i18n

#720 Add New Default Post Image
  packages/web/pages/dashboard/new-post.tsx
Labels: frontend, visual, improvement

#719 Code Cleanup & Fix Site Nav On Tiny Screens
  packages/web/components/Dashboard/Settings/SettingsNav.tsx
  packages/web/components/Icons/CommentIcon.tsx
  packages/web/components/Icons/LikeIcon.tsx
  packages/web/components/LoginForm/LoginForm.tsx
  packages/web/components/Logo/index.tsx
  packages/web/components/Modal/Modal.tsx
  packages/web/components/Modal/ModalHeader.tsx
  packages/web/components/RequestResetPasswordForm/RequestResetPasswordForm.tsx
  packages/web/components/ResetPasswordForm/ResetPasswordForm.tsx
  packages/web/components/SignupForm/SignupForm.tsx
  packages/web/components/Site/Home/HomeSection.tsx
  packages/web/components/Site/Home/Testimonial.tsx
  packages/web/components/Site/Home/TopSection.tsx
  packages/web/components/Site/Nav/Nav.tsx
  packages/web/public/images/blog/post01-image.jpg
  packages/web/public/images/icons/cart-icon.svg
  packages/web/public/images/icons/close-icon.svg
  packages/web/public/images/icons/drafts-icon.svg
  packages/web/public/images/icons/logout-icon.svg
  packages/web/public/images/icons/new-post-icon.svg
  packages/web/public/images/icons/quote-icon.svg
  packages/web/public/images/icons/settings-icon.svg
  packages/web/public/images/icons/your-feed-icon.svg
  packages/web/public/images/robin-small.png
  packages/web/theme/index.ts
  packages/web/utils/breakpoints.js
  packages/web/utils/colors.js
  packages/web/utils/index.ts
Labels: frontend, refactor

#726 Add Mandarin Chinese UI Language Support - Part 1
  packages/web/public/static/locales/zh_CN/authentication.json
  packages/web/public/static/locales/zh_CN/comment.json
  packages/web/public/static/locales/zh_CN/common.json
  packages/web/public/static/locales/zh_CN/my-feed.json
  packages/web/public/static/locales/zh_CN/my-posts.json
  packages/web/public/static/locales/zh_CN/post-author-card.json
  packages/web/public/static/locales/zh_CN/post.json
  packages/web/public/static/locales/zh_CN/profile.json
  packages/web/public/static/locales/zh_CN/settings.json
  packages/web/public/static/locales/zh_TW/authentication.json
  packages/web/public/static/locales/zh_TW/comment.json
  packages/web/public/static/locales/zh_TW/common.json
  packages/web/public/static/locales/zh_TW/my-feed.json
  packages/web/public/static/locales/zh_TW/my-posts.json
  packages/web/public/static/locales/zh_TW/post-author-card.json
  packages/web/public/static/locales/zh_TW/post.json
  packages/web/public/static/locales/zh_TW/profile.json
  packages/web/public/static/locales/zh_TW/settings.json
Labels: i18n

#728 Better thread creation experience
  packages/j-db-client/package.json
  packages/j-db-client/prisma/migrations/20211215202050_thread_subscriptions_cascade_delete/migration.sql
  packages/j-db-client/prisma/schema.prisma
  packages/web/components/Dashboard/Post/Post.tsx
  packages/web/components/Dashboard/Post/PostComments.tsx
  packages/web/components/InlineFeedbackPopover/InlineFeedbackPopover.tsx
  packages/web/components/InlineFeedbackPopover/Thread.tsx
  packages/web/components/InlineFeedbackPopover/index.tsx
  packages/web/components/Textarea/Textarea.tsx
  packages/web/generated/graphql.tsx
  packages/web/graphql/comment/createThread.graphql
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/resolvers/comment.ts
  packages/web/resolvers/utils/index.ts
  packages/web/resolvers/utils/types.ts
Labels: frontend, backend, database

#735 Fix operator precedence in janky manual SQL compilation in posts resolver
  packages/web/resolvers/post.ts
Labels: bug, backend

#737 🔧 Fix In-App Notifications Bug: Deleting A Comment With A Thanks
  packages/web/components/NotificationFeed/Notifications.tsx
Labels: bug, frontend

#739 Better paragraph formatting for comments
  packages/web/components/Dashboard/Post/PostComment.tsx
  packages/web/components/Dashboard/Post/PostComments.tsx
  packages/web/components/EditableMarkdown/EditableMarkdown.tsx
  packages/web/components/EditableMarkdown/index.ts
  packages/web/components/InlineFeedbackPopover/Comment.tsx
Labels: frontend

#740 Allow unauth'd users to view profile pages
  packages/web/resolvers/post.ts
Labels: backend

#732 🇨🇳 🇹🇼 Complete Mandarin Chinese U.I. Translations
  packages/web/components/UILanguageSelect/UILanguageSelect.tsx
  packages/web/config/i18n.js
  packages/web/pages/dashboard/my-posts.tsx
  packages/web/public/static/locales/de/my-posts.json
  packages/web/public/static/locales/en/my-posts.json
  packages/web/public/static/locales/en/settings.json
  packages/web/public/static/locales/es/my-posts.json
  packages/web/public/static/locales/it/my-posts.json
  packages/web/public/static/locales/zh_CN/authentication.json
  packages/web/public/static/locales/zh_CN/comment.json
  packages/web/public/static/locales/zh_CN/common.json
  packages/web/public/static/locales/zh_CN/j-editor.json
  packages/web/public/static/locales/zh_CN/my-feed.json
  packages/web/public/static/locales/zh_CN/my-posts.json
  packages/web/public/static/locales/zh_CN/post-author-card.json
  packages/web/public/static/locales/zh_CN/post.json
  packages/web/public/static/locales/zh_CN/profile.json
  packages/web/public/static/locales/zh_CN/settings.json
  packages/web/public/static/locales/zh_TW/authentication.json
  packages/web/public/static/locales/zh_TW/comment.json
  packages/web/public/static/locales/zh_TW/common.json
  packages/web/public/static/locales/zh_TW/j-editor.json
  packages/web/public/static/locales/zh_TW/my-feed.json
  packages/web/public/static/locales/zh_TW/my-posts.json
  packages/web/public/static/locales/zh_TW/post-author-card.json
  packages/web/public/static/locales/zh_TW/post.json
  packages/web/public/static/locales/zh_TW/profile.json
  packages/web/public/static/locales/zh_TW/settings.json
Labels: i18n

#753 Fix Notification Creation On New Thread Creation
  packages/web/resolvers/comment.ts
Labels: bug

#754 🎓 Create Journaly Tutorials
  packages/web/components/Dashboard/Settings/SettingsNav.tsx
  packages/web/pages/dashboard/settings/tutorials.tsx
  packages/web/public/static/locales/en/settings.json
  packages/web/public/static/locales/en/tutorials.json
Labels: FEATURE, docs
