Repository Journaly/journaly, pull requests merged in 2021-01, with the labels that each got.

#413 Fix "Publish Draft" Bug
  components/Dashboard/Post/Post.tsx
  nexus/post.ts
Labels: backend

#409 Change resetTokenExpiry type to integer in the first migration
  j-db-client/prisma/migrations/20200624211600-initial/README.md
  j-db-client/prisma/migrations/20200624211600-initial/schema.prisma
  j-db-client/prisma/migrations/20200624211600-initial/steps.json
  j-db-client/prisma/migrations/20200625141833-remove-language-learning-unique-constraint-on-user-id/schema.prisma
  j-db-client/prisma/migrations/20200702185801-fix-issues/schema.prisma
  j-db-client/prisma/migrations/20200805064655-add-published-at-to-posts/schema.prisma
  j-db-client/prisma/migrations/20200813092954-add-post-comment/schema.prisma
  j-db-client/prisma/migrations/20200816171330-add-thread-subscription-table/schema.prisma
  j-db-client/prisma/migrations/20200908095206-add-thanks-and-db-constraints/schema.prisma
  j-db-client/prisma/migrations/20200910205210-add-topic-translation-table/schema.prisma
  j-db-client/prisma/migrations/20200919143307-update-reset-token-expiry-type/README.md
  j-db-client/prisma/migrations/20200919143307-update-reset-token-expiry-type/schema.prisma
  j-db-client/prisma/migrations/20200919143307-update-reset-token-expiry-type/steps.json
  j-db-client/prisma/migrations/migrate.lock
Labels: database

#424 Improve Favicon
  pages/_document.tsx
  public/favicon.png
  public/favicon.svg
Labels: frontend

#422 Make Sign Up Errors More User Friendly
  nexus/user.ts
Labels: frontend

#432 Updated doc regarding recent prisma changes.
  README.md
Labels: docs

#431 fix: generating excerpt
  nexus/utils/index.ts
Labels: backend

#438 Some last minute changes to j-mail
  j-mail/serverless.yml
  j-mail/src/emails/updateEmail.ts
  j-mail/test-email.html
Labels: j-mail

#439 Only include published posts in `postsWrittenCount`.
  nexus/user.ts
Labels: bug

#450 Force skinny nav on settings pages
  components/Dashboard/Nav/Nav.tsx
  components/Dashboard/Nav/NavLinks.tsx
  components/Layouts/DashboardLayout.tsx
Labels: frontend

#448 editor(440): add hyperlink capability
  components/Icons/FormatLinkIcon.tsx
  components/JournalyEditor/JournalyEditor.tsx
  components/JournalyEditor/helpers.ts
  components/PostBodyStyles/PostBodyStyles.tsx
  nexus/inputTypes.ts
  nexus/utils/index.ts
  package-lock.json
  package.json
  public/static/locales/en/post.json
  utils/index.ts
Labels: backend, frontend

#455 Add German UI Translations
  components/Dashboard/Post/PostAuthorCard.tsx
  public/static/locales/de/authentication.json
  public/static/locales/de/comment.json
  public/static/locales/de/common.json
  public/static/locales/de/my-feed.json
  public/static/locales/de/my-posts.json
  public/static/locales/de/post-author-card.json
  public/static/locales/de/post.json
  public/static/locales/de/profile.json
  public/static/locales/de/settings.json
  public/static/locales/en/post-author-card.json
Labels: i18n

#459 Replace Cloudinary
  components/Dashboard/Settings/DetailsForm.tsx
  components/PostEditor/PostEditor.tsx
  generated/graphql.tsx
  graphql/post/initiatePostImageUpload.graphql
  hooks/useImageUpload.ts
  nexus/post.ts
  nexus/utils/aws.ts
  nexus/utils/email.ts
  nexus/utils/index.ts
  package-lock.json
  package.json
  public/static/locales/en/common.json
Labels: backend, frontend

#461 Daily Digest Email v2
  j-mail/email-scenarios/index.ts
  j-mail/package-lock.json
  j-mail/package.json
  j-mail/src/ images/sample-post-img.jpg
  j-mail/src/emails/updateEmail.ts
  j-mail/src/handler.ts
  j-mail/src/utils.ts
  j-mail/test-email.html
  nexus/thanks.ts
  nexus/utils/email.ts
  nexus/utils/index.ts
Labels: backend, j-mail

#467 Setup bundle analysis
  .circleci/config.yml
  next.config.js
  package-lock.json
  package.json
Labels: optimization

#472 feat: including tables inside a post
  components/Dashboard/Post/Post.tsx
  components/Icons/FormatLinkIcon.tsx
  components/Icons/FormatTableIcon.tsx
  components/JournalyEditor/JournalyEditor.tsx
  components/JournalyEditor/RenderElement.tsx
  components/JournalyEditor/RenderLeaf.tsx
  components/JournalyEditor/Toolbar.tsx
  components/JournalyEditor/ToolbarButton.tsx
  components/JournalyEditor/helpers.ts
  components/JournalyEditor/index.tsx
  nexus/utils/index.ts
  package-lock.json
  package.json
  pages/_app.tsx
Labels: frontend, j-editor

#469 Make PostCard images same height
  components/Dashboard/PostCard/PostCard.tsx
Labels: frontend

#474 feat: optimistic-ui create post comment
  components/Dashboard/Post/PostComments.tsx
  generated/graphql.tsx
  graphql/comment/createPostComment.graphql
  pages/post/[id]/index.tsx
  utils/number.ts
Labels: frontend

#464 i18n / Translation Audit & German Translation Updates
  components/Dashboard/MyFeed/LanguageSelect.tsx
  components/Dashboard/MyFeed/SearchInput.tsx
  components/Dashboard/MyFeed/TopicSelect.tsx
  components/Dashboard/Post/PostComments.tsx
  components/Dashboard/Settings/InterestsForm.tsx
  components/Dashboard/Settings/UpdatePasswordForm.tsx
  components/JournalyEditor/JournalyEditor.tsx
  components/LanguageFormField/LanguageFormField.tsx
  components/PostEditor/PostEditor.tsx
  components/Site/Home/ReasonsSection.tsx
  components/Site/Home/TestimonialsSection.tsx
  components/Site/Home/TopSection.tsx
  components/Site/Home/VideoSection.tsx
  pages/dashboard/my-posts.tsx
  pages/dashboard/new-post.tsx
  pages/post/[id]/edit.tsx
  public/static/locales/de/comment.json
  public/static/locales/de/common.json
  public/static/locales/de/my-feed.json
  public/static/locales/de/my-posts.json
  public/static/locales/de/post.json
  public/static/locales/de/settings.json
  public/static/locales/en/comment.json
  public/static/locales/en/common.json
  public/static/locales/en/my-feed.json
  public/static/locales/en/my-posts.json
  public/static/locales/en/post.json
  public/static/locales/en/settings.json
Labels: i18n

#486 Avarar specific sizing
  components/Dashboard/Settings/DetailsForm.tsx
  components/PostEditor/PostEditor.tsx
  generated/graphql.tsx
  graphql/user/initiateAvatarImageUpload.graphql
  hooks/useAvatarImageUpload.ts
  hooks/useImageUpload.ts
  hooks/usePostImageUpload.ts
  nexus/post.ts
  nexus/user.ts
  nexus/utils/index.ts
  nexus/utils/resolverUtils.ts
Labels: backend, enhancement, frontend, infra, thumbbuster

#487 More robust error handling in image uploading.
  hooks/useImageUpload.ts
  public/static/locales/en/common.json
Labels: frontend, thumbbuster
