Repository Journaly/journaly, pull requests merged in 2021-08, with the labels that each got.

#632 Show a tooltip with the specific users who clapped for a post
  packages/web/components/Dashboard/Post/Post.tsx
  packages/web/components/Dashboard/Post/helpers.ts
  packages/web/public/static/locales/en/post.json
Labels: enhancement, frontend

#636 Fix bug where comment text disappears when editing multiple times
  packages/web/components/Dashboard/Post/PostComment.tsx
Labels: frontend, j-editor

#637 New filter actions on My Feed page: "Needs Feedback" & "Commented Posts"
  packages/web/components/Dashboard/MyFeed/MyFeed.tsx
  packages/web/generated/graphql.tsx
  packages/web/graphql/post/feed.graphql
  packages/web/public/static/locales/en/my-feed.json
  packages/web/resolvers/post.ts
Labels: backend, frontend

#638 Upgrade Node, Next, React, TypeScript, & Fix Webpack Build Failures
  .circleci/config.yml
  .eslintrc.js
  .nvmrc
  packages/web/lib/apollo.tsx
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/api/stripe/webhook.ts
  packages/web/resolvers/index.ts
Labels: upgrades

#635 Markdown support for post & inline comments
  packages/web/components/Dashboard/Post/PostComment.tsx
  packages/web/components/InlineFeedbackPopover/Comment.tsx
  packages/web/next-env.d.ts
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/public/static/locales/en/comment.json
Labels: enhancement, frontend

#644 Add Markdown support for comments - Take 2, Part 2
  packages/web/components/Dashboard/Post/PostComment.tsx
  packages/web/components/InlineFeedbackPopover/Comment.tsx
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/public/static/locales/en/comment.json
Labels: enhancement, frontend

#646 Increase Comment Markdown Support & Add Missing Styles
  packages/web/components/Dashboard/Post/PostComment.tsx
  packages/web/components/InlineFeedbackPopover/Comment.tsx
  packages/web/package-lock.json
  packages/web/package.json
Labels: frontend

#647 One last Markdown improvement - Checklist Styles
  packages/web/components/Dashboard/Post/PostComment.tsx
Labels: frontend, visual

#650 Small Markdown Style Improvements
  packages/web/components/Dashboard/Post/PostComment.tsx
  packages/web/components/InlineFeedbackPopover/Comment.tsx
Labels: frontend, visual

#651 Dependency Updates & Untangling 🧶
  packages/web/config/i18n.js
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/_app.tsx
Labels: upgrades, dependencies
