Repository Journaly/journaly, pull requests merged in 2021-04, with the labels that each got.

#533 Remove margin between paragraphs
  packages/web/components/Dashboard/Post/Post.tsx
Labels: frontend

#510 Set up GraphCDN
  packages/web/lib/apollo.tsx
  packages/web/nexus/user.ts
Labels: DO NOT MERGE

#548 Inline image misc fixes
  packages/web/components/JournalyEditor/JournalyEditor.tsx
  packages/web/components/JournalyEditor/RenderElement.tsx
  packages/web/components/JournalyEditor/helpers.ts
Labels: frontend, j-editor
