Repository Journaly/journaly, pull requests merged in 2021-10, with the labels that each got.

#659 Approach Doc: In-App Notifications
  docs/approach-docs/in-app-notifications.md
  docs/approach-docs/template.md
Labels: docs, approach doc

#633 Add user interests to settings & profile page
  packages/web/components/Dashboard/Profile/ProfileCard.tsx
  packages/web/components/Dashboard/Settings/InterestsForm.tsx
  packages/web/components/InterestFormField/InterestFormField.tsx
  packages/web/components/InterestFormField/index.ts
  packages/web/components/LanguageFormField/LanguageFormField.tsx
  packages/web/generated/graphql.tsx
  packages/web/graphql/fragments.graphql
  packages/web/graphql/pages/profilePage.graphql
  packages/web/graphql/topic/addUserInterest.graphql
  packages/web/graphql/topic/removeUserInterest.graphql
  packages/web/graphql/user/settingsFormData.graphql
  packages/web/pages/dashboard/profile/[id]/index.tsx
  packages/web/pages/dashboard/settings/profile.tsx
  packages/web/public/static/locales/en/settings.json
  packages/web/resolvers/language.ts
  packages/web/resolvers/topic.ts
  packages/web/resolvers/user.ts
Labels: frontend, backend

#626 Add follow button to profile page
  packages/web/components/Dashboard/Profile/ProfileCard.tsx
  packages/web/public/static/locales/de/profile.json
  packages/web/public/static/locales/en/profile.json
  packages/web/public/static/locales/es/profile.json
Labels: frontend, profile
