Repository Journaly/journaly, pull requests merged in 2021-07, with the labels that each got.

#600 Build out basic Cypress setup with first E2E tests
  .circleci/config.yml
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/author/author.spec.js
  cypress/integration/complete-profile.spec.js
  cypress/integration/create-post.spec.js
  cypress/integration/feed/my_feed.spec.js
  cypress/integration/landing/explore_landing_page.spec.js
  cypress/integration/login.spec.js
  cypress/integration/post-feedback.spec.js
  cypress/integration/post-foraging.spec.js
  cypress/integration/posts/my_posts.spec.js
  cypress/integration/posts/new_post.spec.js
  cypress/integration/posts/post.spec.js
  cypress/integration/premium-explorer.spec.js
  cypress/integration/signup.spec.js
  cypress/integration/smoke_test.spec.js
  cypress/integration/update-account-info.spec.js
  cypress/integration/user/login.spec.js
  cypress/integration/user/profile.spec.js
  cypress/integration/user/settings.spec.js
  cypress/integration/user/signup.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  docs/4-e2e-tests.md
  package-lock.json
  package.json
  packages/web/components/Button/Button.tsx
  packages/web/components/Dashboard/MyFeed/FeedHeader.tsx
  packages/web/components/Dashboard/MyFeed/MyFeed.tsx
  packages/web/components/Dashboard/Nav/Nav.tsx
  packages/web/components/Dashboard/PostCard/PostCard.tsx
  packages/web/components/Dashboard/Settings/Breadcrumbs.tsx
  packages/web/components/JournalyEditor/JournalyEditor.tsx
  packages/web/components/LoginForm/LoginForm.tsx
  packages/web/components/Modal/Modal.tsx
  packages/web/components/Modals/WelcomeModal/WelcomeModal.tsx
  packages/web/components/MultiSelect/MultiSelect.tsx
  packages/web/components/PostEditor/PostEditor.tsx
  packages/web/components/RequestResetPasswordForm/RequestResetPasswordForm.tsx
  packages/web/components/ResetPasswordForm/ResetPasswordForm.tsx
  packages/web/components/Select/Select.tsx
  packages/web/components/SignupForm/SignupForm.tsx
  packages/web/components/Site/Home/TopSection.tsx
  packages/web/components/TabToggle/TabToggle.tsx
  packages/web/pages/dashboard/my-posts.tsx
  packages/web/pages/dashboard/new-post.tsx
  packages/web/pages/post/[id]/edit.tsx
Labels: automation, docs, test

#614 added placeholder if user has no languages in settings
  packages/web/components/PostEditor/PostEditor.tsx
  packages/web/public/static/locales/en/post.json
Labels: frontend

#613 Add a "cancel" button to edit post experience
  packages/web/components/PostEditor/PostEditor.tsx
  packages/web/pages/post/[id]/edit.tsx
  packages/web/public/static/locales/en/post.json
Labels: frontend

#620 Add seed data
  README.md
  packages/j-db-client/package.json
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/seed.sql
Labels: docs

#623 Fix database seed command
  README.md
  packages/web/package.json
Labels: docs

#625 Display either author's name, or handle if no name, in post header
  packages/web/components/Dashboard/Post/Post.tsx
  packages/web/components/PostEditor/PostEditor.tsx
Labels: frontend

#624 Display number of likes in a user's own comments
  packages/web/components/InlineFeedbackPopover/Comment.tsx
  packages/web/public/static/locales/en/comment.json
Labels: frontend
