Repository Journaly/journaly, pull requests merged in 2023-09, with the labels that each got.

#871 A smorgasbord of a11y changes to nav and the new post page
  packages/web/components/Button/Button.tsx
  packages/web/components/Dashboard/Nav/Nav.tsx
  packages/web/components/JournalyEditor/Toolbar/Toolbar.tsx
  packages/web/components/Layouts/DashboardLayout.tsx
  packages/web/components/Modal/Modal.tsx
  packages/web/components/Modals/ImageUploadModal/SearchUnsplash.tsx
  packages/web/components/NavLink/NavLink.tsx
  packages/web/components/NotificationCount/NotificationCount.tsx
  packages/web/components/NotificationFeed/NotificationFeed.tsx
  packages/web/components/PostEditor/PostEditor.tsx
  packages/web/components/PostHeader/PostHeader.tsx
  packages/web/components/Select/Select.tsx
  packages/web/components/Site/Nav/Nav.tsx
  packages/web/components/SkipLink/SkipLink.tsx
  packages/web/components/SkipLink/index.ts
  packages/web/components/SwipeableElement/SwipeableElement.tsx
  packages/web/styles/globalStyles.css
  packages/web/theme/index.ts
Labels: a11y

#872 🔧 Fix Modal Visual Bug
  packages/web/components/Modal/Modal.tsx
  packages/web/components/Modal/ModalBody.tsx
  packages/web/components/Modal/ModalHeader.tsx
  packages/web/components/Modal/modalConstants.ts
  packages/web/components/UserList/UserList.tsx
Labels: frontend, visual, refactor

#832 Create Script For Awarding A Badge To A User
  packages/jadmin/jadmin.js
Labels: jadmin
