Repository Journaly/journaly, pull requests merged in 2023-07, with the labels that each got.

#863 🐞 Quick Fix for broken translations on Feature Modal & Pricing Page
  packages/web/config/i18n.js
  packages/web/pages/settings/subscription.tsx
Labels: bug, frontend, i18n

#866 Update README.md
  README.md
Labels: docs

#868 🚀 EXPERIMENT: Boost Premium Visibility in Nav with "Go Premium" Badge/Button
  packages/web/components/Dashboard/Nav/Nav.tsx
  packages/web/public/static/locales/de/common.json
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/es/common.json
  packages/web/public/static/locales/it/common.json
  packages/web/public/static/locales/pt_BR/common.json
  packages/web/public/static/locales/zh_CN/common.json
  packages/web/public/static/locales/zh_TW/common.json
  packages/web/theme/index.ts
Labels: frontend, premium
