Repository Journaly/journaly, pull requests merged in 2023-05, with the labels that each got.

#841 Replace slate-plugins with its successor, plate
  .circleci/config.yml
  packages/j-db-client/package-lock.json
  packages/j-db-client/package.json
  packages/web/components/FeatureComparisonTable/FeatureComparisonTable.tsx
  packages/web/components/JournalyEditor/JournalyEditor.tsx
  packages/web/components/JournalyEditor/RenderElement.tsx
  packages/web/components/JournalyEditor/Toolbar/BaseToolbarButton.tsx
  packages/web/components/JournalyEditor/Toolbar/Toolbar.tsx
  packages/web/components/JournalyEditor/Toolbar/ToolbarButton.tsx
  packages/web/components/JournalyEditor/helpers.ts
  packages/web/components/Logo/index.tsx
  packages/web/components/PostEditor/PostEditor.tsx
  packages/web/components/Site/Nav/Nav.tsx
  packages/web/config/i18n.js
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/post/[id]/edit.tsx
  packages/web/resolvers/index.ts
  packages/web/resolvers/inputTypes.ts
  packages/web/resolvers/thanks.ts
  packages/web/resolvers/utils/index.ts
  packages/web/utils/index.ts
  packages/web/utils/slate.ts
Labels: upgrades, dependencies, j-editor

#852 🔧 Update Next.js to version `13.0.4` & React to `18.2.0` & Node to `lts/gallium`
  .nvmrc
  packages/web/components/Dashboard/Filters/Filters.tsx
  packages/web/components/Dashboard/Nav/Nav.tsx
  packages/web/components/Dashboard/Post/Post.tsx
  packages/web/components/Dashboard/Post/PostAuthorCard.tsx
  packages/web/components/Dashboard/Post/PostComment.tsx
  packages/web/components/Dashboard/PostCard/PostCard.tsx
  packages/web/components/Dashboard/Settings/DetailsForm.tsx
  packages/web/components/Dashboard/Settings/SocialForm.tsx
  packages/web/components/FeatureComparisonTable/FeatureComparisonTable.tsx
  packages/web/components/GenericErrorBoundary/GenericErrorBoundary.tsx
  packages/web/components/InlineFeedbackPopover/Comment.tsx
  packages/web/components/JournalyEditor/JournalyEditor.tsx
  packages/web/components/JournalyEditor/helpers.ts
  packages/web/components/Layouts/LandingPageLayout.tsx
  packages/web/components/LoadingWrapper/LoadingWrapper.tsx
  packages/web/components/LoginForm/LoginForm.tsx
  packages/web/components/Logo/index.tsx
  packages/web/components/NavLink/NavLink.tsx
  packages/web/components/NotificationFeed/NotificationContext.tsx
  packages/web/components/NotificationFeed/Notifications.tsx
  packages/web/components/Pagination/Pagination.tsx
  packages/web/components/PostHeader/PostHeader.tsx
  packages/web/components/RequestResetPasswordForm/RequestResetPasswordForm.tsx
  packages/web/components/SignupForm/SignupForm.tsx
  packages/web/components/SwipeableElement/SwipeableElement.tsx
  packages/web/components/TranslationLink/TranslationLink.tsx
  packages/web/components/UserList/UserList.tsx
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/api/stripe/webhook.ts
  packages/web/pages/index.tsx
  packages/web/pages/new-post.tsx
  packages/web/public/static/locales/de/marketing.json
  packages/web/public/static/locales/de/settings.json
  packages/web/public/static/locales/en/marketing.json
  packages/web/public/static/locales/en/settings.json
  packages/web/public/static/locales/es/marketing.json
  packages/web/public/static/locales/it/marketing.json
  packages/web/public/static/locales/it/settings.json
  packages/web/public/static/locales/pt_BR/marketing.json
  packages/web/public/static/locales/pt_BR/settings.json
  packages/web/public/static/locales/zh_CN/marketing.json
  packages/web/public/static/locales/zh_CN/settings.json
  packages/web/public/static/locales/zh_TW/marketing.json
  packages/web/public/static/locales/zh_TW/settings.json
  packages/web/resolvers/user.ts
  packages/web/resolvers/utils/stripe.ts
  packages/web/tsconfig.json
Labels: upgrades, dependencies

#857 🧹 Remove Unused Dependencies 🤖
  packages/j-mail/package.json
  packages/web/components/GenericErrorBoundary/GenericErrorBoundary.tsx
  packages/web/components/JournalyEditor/Toolbar/Toolbar.tsx
  packages/web/lib/apollo.tsx
  packages/web/package-lock.json
  packages/web/package.json
Labels: dependencies
